* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 10px;
}
.icon {
  font-size: 30px;
  letter-spacing: 5px;
}
#active {
  color: yellow;
}
.menu ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.menu ul li a {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}
.menu ul li a:hover {
  color: yellow;
}
.main {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 200px 10px 310px 50px;
  /* color: white; */
  justify-content: center;
  /* align-items: center; */
  background-color: rgb(233, 229, 229);
  /* height: 50vh; */
  border-radius: 5px;
  margin: 10px;
}
.text {
  font-size: 50px;
}
